body {
    font: 1em sans-serif;
    width: 300px;
    padding: 0;
    margin: 0 auto;
}

p * {
    display: block;
}

input:invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}